body {
    background-color: rgb(63, 32, 24);
    padding: 100px;
}

p{
    color: white;
    text-align: center;
}

.transform {
    display: grid;
    grid-template-columns: 40px 100px;
    column-gap: 20px;
    row-gap: 20px;
    place-items: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    background-color: lightgreen;
    width: 40px;
    height: 40px;

    transition: all 0.3s;
}

.box1:hover {
    transform: scale(0.5);
}

.box2:hover {
    transform: scaleX(0.5);
}

.box3:hover {
    transform: scaleY(0.5);
}

.box4:hover {
    transform: rotate(45deg);
}

.box5:hover {
    transform: skew(25deg, 25deg);
}

.box6:hover {
    transform: translate(10px, 10px);
}

.box7:hover {
    transform: matrix(0.5, -0.5, 0.5, 0.5, 0.5, 0.5);
}